<!-- Modal -->
<my-char role="role"></my-char>

{{leader}}
<div class="top md-col-12">
    <div class="mycontainer">
        <div class="md-col-12">
            <div class="logo">
                <p>StackAlon</p>
                <button ng-mouseenter="showData = !showData" ng-mouseleave="showData = !showData">Details</button>
                <button ng-click="gameOrCurrent = !gameOrCurrent">Details</button>
            </div>
            <div class="role">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Your Role</button>
                <button ng-click='startGame({ Merlin: true,
  Mordred: true,
  Morgana: true,
  Percival: true,
  Assassin: true,
  Oberon: true,
  Lady: true,
  size: 10 })'>Restart</button>
            </div>
        </div>
    </div>
</div>
<side-bar ng-show="showData"></side-bar>
<div class="header">
    <p>{{game.roomName}}</p>
</div>
<div class="col-md-12 gameBoard">
    <div class="board" ng-show="!gameOrCurrent">
        <div ng-repeat="round in game.rounds" class="col-xs-2 col-sm-2 col-md-2 roundButton" ng-class="{'col-xs-offset-1 col-sm-offset-1 col-md-offset-1': $first}">
            <button class="roundNumber disabled no-hover" ng-class="{evil: round.winner==='evil', good: round.winner==='good', current: game.currentRound===$index+1}"> {{round.people}} </button>
            <p ng-show="round.doubleFail">Two Fails needed to Fail</p>
        </div>
    </div>
    <div class="currentGameStats" ng-show="gameOrCurrent">
    {{gameState}}
        <div class="col-md-7 wrapper">
            <div class="col-md-12 action">
                <h4>Actionable Events</h4>
                <div class="col-md-12 center2">
                    <my-loading ng-show="!gameState.active" message="gameState.message"></my-loading>
                </div>
            </div>
        </div>
        <div class="col-md-5 wrapper">
            <div class="col-md-12 stats">
                <h4>Current Round: {{game.currentRound}}</h4>
                <div class="scoreCard">
                    <h6>Score</h6>
                    <h6>Good: {{game.score.Good}}</h6>
                    <h6>Evil: {{game.score.Evil}}</h6>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h7>Current Leader: </h7>
                        <p>{{game.leader.name}}</p>
                    </div>
                    <div class="col-md-6">
                        <h7>Current Lady</h7>
                        <p>{{game.Lady.currentHolder.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p>Current Game</p>
    </div>
    <br>
    <br>
    <div class="profileContainer">
        <!--     <div>
        {{yourRole}}
        <h2>{{getGame().roomName}}</h2>
        <ul>
            <div ng-repeat='user in getGame().players' class="col-md-4 userBox">
                <h3>{{user.name}}</h3>
                <p ng-show="getGame().Lady.currentHolder.name === user.name">Lady</p>
            </div>
            <!-- <li ng-repeat='user in getGame().players' ng-class="{'blink_me':$last,'user':username===user.name}">{{user.name}}</li>
        </ul>
        <p>The Host is: {{room.host.name}}</p>
    </div>
 -->
        <div class="realContainer">
            <div class="profileScroller" ng-repeat="user in game.players">
                <my-profile user='user' username='username' lady='game.Lady' leader='game.leader'></my-profile>
            </div>
        </div>
    </div>
    <div></div>
</div>
<!-- <pre> {{getGame() | json}} </pre> -->
