.mycontainer {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    overflow: hidden;
    p {
        color: red;
    }
}

.role {
    overflow: hidden;
    float: right;
    padding-bottom: 15px;
}

.top {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: blue;
}

img {
    width: 50px;
}

.profile {
    width: 150px;
    height: 200px;
    border-style: solid;
    border-size: 4px;
    .imgContainer {
        text-align: center;
        margin-top: 20px;
    }
    .userInfo {
        // background-color: red;
        // height: 40px;
        padding-top: 10px;
        p {
            font-size: 20px;
            text-align: center;
        }
    }
    .card {
        padding: 0;
        text-align: center;
        img {
            max-height: 100%;
            max-width: 100%;
            filter: gray;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
        }
        img.active {
            filter: none;
            -webkit-filter: grayscale(0);
            border: 2px solid red;
        }
    }
    &.currentLeader {
        border-color: red;
    }
}

.dummy {
    padding-top: 100%;
}

.testing {
    background-color: red;
    // height: 40px;
    padding-top: 10px;
}

.profileContainer {
    // width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.rolesList {
    float: left;
}

ul {
    padding: 0;
    list-style: none;
}

.realContainer {
    display: inline-block;
}

.profileScroller {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.board {
    height: 400px;
    background-image: url('../images/river.jpg');
    background-size: 100%;
}

@media (max-width: 850px) {
    .board {
        // background-image: url('../images/crown.jpg');
        background-size: auto 100%;
    }
}

.currentGameStats {
    height: 400px;
    .wrapper {
        height: 100%;
        padding: 5px;
        > div {
            
            h4 {
                float: left;
                clear: right;
            }
            height: 100%;
            border: 3px solid black;
        }
        p {
            font-size: 30px;
        }
        h7 {
            font-size: 10px;
        }
    }
}

.scoreCard {
    float: right;
    clear: right;
}

.roundButton {
    height: 400px;
    text-align: center;
    button {
        box-shadow: none;
        border: none;
        outline: 0;
        vertical-align: middle;
        margin-top: 150px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: #BAB0AC;
        // margin: 0 auto;
        &.evil {
            background-color: red;
        }
        &.good {
            background-color: blue;
        }
        &.current {
            background-color: #3ABA23;
        }
    }
}

.no-hover {
    pointer-events: none;
}

.gameStats {
    height: 100%;
    background-color: green;
    z-index: 20;
    position: absolute;
}

.gameBoard {
    padding: 0 60px 0 60px;
}

.top {
    z-index: 999999;
}

.center {
    > div{
        text-align: center;
    }    
}

.center2 {
    // background-color: red;
    margin: 110px 0;   
}

